<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .lead {
            padding: 10px, 6px, 10px,6px;
            margin-top:5px;
            background-color: azure;
        }
    </style>
</head>
<body>
    <a href="{% url 'leads:lead_list' %}"><button>back</button></a>
    <h1>Create Lead:</h1>
    <div class="lead">
        <form method="POST" action="{% url 'leads:lead_create' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">submit</button>
        </form>
    </ul>
</body>
</html>