<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .lead {
            padding: 10px, 6px, 10px,6px;
            margin-top:5px;
            background-color: azure;
        }
    </style>
</head>
<body>
    <h1>Lead Details:</h1>
    <div class="lead">
       <p>First name: {{ lead.first_name }}</p>
       <p>last name: {{ lead.last_name }}</p>
       <p>Age: {{ lead.age }}</p>
    </div> 
    <p>Agent: {{ lead.agent }}</p>
    </ul>
</body>
</html>